{% extends "./panel.html" %}

{% load i18n %}

{% block title %}{{ block.super }}{% trans "Sign Out" %}{% endblock %}

{% block card_header %}
  {% trans 'Sign Out' %}
{% endblock %}
{% block card_body %}
  <p class="card-title">{% trans 'Are you sure you want to sign out?' %}</p>
  <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-danger btn-block">{% trans 'Sign Out' %}</button>
  </form>
{% endblock %}