{% extends "user_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{block.super}}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-md-auto">
        <div class="card">
          <div class="card-header">
            注册您的TrainK账号
          </div>
          <div class="card-body">
            <p>已经有账号了？<a href="{{ login_url }}">登录</a></p>
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}