{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}信息查询{% endblock title %}


{% block content %}
<div class="py-5" style="background-image: url(&quot;{% static "img/hero.jpg" %}&quot;); background-position: center top;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <info-home-tab id="entrance"></info-home-tab>
        {% render_bundle 'info' 'js' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}