{% extends "info_base.html" %}
{% load static %}

{% block content %}
<div class="py-5" style="background-image: url(&quot;{% static "img/hero.jpg" %}&quot;); background-position: center top;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
      	<div class="card text-center">
          <form>
            <div class="card-header">
              <div class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-route-tab" data-toggle="tab" href="#nav-route" role="tab" aria-controls="nav-route" aria-selected="true">行程</a>
                <a class="nav-item nav-link" id="nav-train-tab" data-toggle="tab" href="#nav-train" role="tab" aria-controls="nav-train" aria-selected="false">车次</a>
                <a class="nav-item nav-link" id="nav-station-tab" data-toggle="tab" href="#nav-station" role="tab" aria-controls="nav-station" aria-selected="false">站点</a>
                <a class="nav-item nav-link disabled" id="nav-line-tab" data-toggle="tab" href="#nav-line" role="tab" aria-controls="nav-line" aria-selected="false">线路</a>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-route" role="tabpanel" aria-labelledby="nav-home-tab">
                  Route
                </div>
                <div class="tab-pane fade" id="nav-train" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <input type="text" class="form-control" name="train" placeholder="G7">
                </div>
                <div class="tab-pane fade" id="nav-station" role="tabpanel" aria-labelledby="nav-contact-tab">
                  <input type="text" class="form-control" name="station" placeholder="合肥">
                </div>
                <div class="tab-pane fade" id="nav-line" role="tabpanel" aria-labelledby="nav-contact-tab">
                  <input type="text" class="form-control" name="line" placeholder="合肥">
                </div>
              </div>
              <button class="btn btn-primary btn-block" type="submit">搜索</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}