{% extends "info_base.html" %}
{% load static %}
{% load train %}

{% block title %}{{block.super}}-{{train.name}}次列车正晚点记录{% endblock %}

{% block content %}
<div class='container-fluid py-5'>
<table class="table table-hover table-responsive" style="white-space: nowrap;">
  <caption>{{train.name}}次列车延误记录</caption>
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      {% for record in record_list %}
      <th scope="col">{{record.departureDate}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for stationID, stops in table.items %}
    <tr>
      {% with station=stationID|station %}
        <th scope="row">{{ station.name }}</th>
      {% endwith %}
      <td>
        {% if not forloop.first %}到站<br/>{% endif %}
        {% if not forloop.last %}出站{% endif %}
      </td>
      {% for stop in stops %}
      <td>
        {% if 'arrivalTime' in stop %}
          {{stop.arrivalTime|timedeltaStr }}
          {% if stop.arrivalDelay == 0 %}
          <span class="badge badge-success">正点</span>
          {% elif stop.arrivalDelay < 0 %}
          <span class="badge badge-success">早点{{stop.arrivalDelay}}分</span>
          {% elif stop.arrivalDelay > 10 %}
          <span class="badge badge-danger">晚点{{stop.arrivalDelay}}分</span>
          {% else %}
          <span class="badge badge-secondary">晚点{{stop.arrivalDelay}}分</span>
          {% endif %}
        <br />
        {% endif  %}
        
        {% if 'departureTime' in stop %}
          {{stop.departureTime|timedeltaStr }}
          {% if stop.departureDelay == 0 %}
          <span class="badge badge-success">正点</span>
          {% elif stop.departureDelay < 0 %}
          <span class="badge badge-success">早点{{stop.departureDelay}}分</span>
          {% elif stop.departureDelay > 10 %}
          <span class="badge badge-danger">晚点{{stop.departureDelay}}分</span>
          {% else %}
          <span class="badge badge-secondary">晚点{{stop.departureDelay}}分</span>
          {% endif %}
        {% endif  %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}