{% load i18n %}
<div class="container">
  <div class="row">
    <div class="col-4">
      <font-awesome-icon icon="user-circle" size="3x"></font-awesome-icon>
      {{ user }}
    </div>
    <div class="col-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
    <form id="logout-form" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <div class="btn-group btn-block" role="group">
        <a class="btn btn-sm btn-outline-success col-8" href="go_url">
          <font-awesome-icon icon="cloud"></font-awesome-icon>
          用户中心
        </a>
        <button class="btn btn-sm btn-outline-danger col-4" type="submit">
          <font-awesome-icon icon="sign-out-alt"></font-awesome-icon>
          登出
        </button>
      </div>
    </form>
  
</div>

