{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block head %}
      <title>{% block title %}{{ site.name }}{% endblock %}</title>
      {% block meta %}
        {% include "./meta.html" %}
      {% endblock meta %}
    
      {% block css %}
        {% render_bundle 'common' 'css' %}
      {% endblock css %}

      {% block extra_css %}
      {% endblock extra_css %}
    {% endblock head %}
  </head>
  <body>
    {% block js %}
      {% if not debug %}
        {% render_bundle 'manifest' 'js' %}
        {% render_bundle 'vendor' 'js' %}
      {% endif %}
    {% endblock js %}

    {% block header %}
      {% include "./header.html" %}
    {% endblock header %}

    <main>
      {% block body %}
        {% block content %}
        {% endblock content %}
      {% endblock body %}
    </main>

    {% block footer %}
      {% include "./footer.html" %}
    {% endblock footer %}

    {% block extra_js %}
      {% render_bundle 'common' 'js' %}
    {% endblock extra_js %}
    <div style="display:none">
      <script src="https://s19.cnzz.com/z_stat.php?id=1271548735&web_id=1271548735"></script>
    </div>
  </body>
</html>
