{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block head %}
      <title>{% block title %}TrainK{% endblock %}</title>
      {% block meta %}
        {% include "./meta.html" %}
      {% endblock meta %}
    
      {% block css %}
        {% render_bundle 'app' 'css' %}
      {% endblock css %}

      {% block extra_css %}
      {% endblock extra_css %}

      {% block js %}
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      {% endblock js %}
    {% endblock head %}
  </head>
  <body>
    {% block body %}
      <div class="page-wrapper" id='{% block appid %}page{% endblock %}'>
        {% block header %}
          {% include "./header.html" %}
        {% endblock %}

        <main class="content-wrapper">
          {% block content %}
          {% endblock %}
        </main>

        {% block footer %}
          {% include "./footer.html" %}
        {% endblock %}
      </div>

      {% block extra_js %}
        {% render_bundle 'app' 'js' %}
      {% endblock %}
    {% endblock %}
    <div style="display:none;">
      <script src="https://s19.cnzz.com/z_stat.php?id=1271548735&web_id=1271548735"></script>
    </div>
  </body>
</html>
