<footer class="bg-dark text-secondary">
  <div class="container">
    <div class="row">
      <div class="p-4 col-md-3">
        <h2 class="mb-4">关于我们</h2>
        <p class="text-white">Begin Studio, 中国第一个零零后开发团队</p>
        <ul class="list-unstyled">
          <a href="#" class="text-white">了解更多</a>
          <br>
          <a href="#" class="text-white">加入我们</a>
        </ul>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">联系我们</h2>
        <p>
          <a href="mailto:support@tra.ink" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>技术支持</a>
        </p>
        <p>
          <a href="mailto:admin@tra.ink" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>商业合作</a>
        </p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">关注本站</h2>

      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">站点链接</h2>
        <ul class="list-unstyled">
          <a href="#" class="text-white">隐私政策</a>
          <br>
          <a href="#" class="text-white">使用条款</a>
          <br>
          <a href="#" class="text-white">网站地图</a>
          <br>
          <a href="#" class="text-white">关于本站</a>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-3">
        <p class="text-center text-white">© Copyright 2017 Begin Studio - All rights reserved. </p>
      </div>
      <div class="col-md-6 mt-3">
        <p class="text-center text-white">皖ICP备16011422号-2</p>
      </div>
    </div>
  </div>
</footer>