{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="created" content="{% now "jS M Y h:i" %}" />
<meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
<meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}"/>


<link rel="apple-touch-icon" sizes="180x180" href="{% static "icon/apple-touch-icon.png" %}"/>
<link rel="icon" type="image/png" sizes="32x32" href="{% static "icon/favicon-32x32.png" %}"/>
<link rel="icon" type="image/png" sizes="16x16" href="{% static "icon/favicon-16x16.png" %}"/>
<link rel="manifest" href="{% static "icon/site.webmanifest" %}"/>
<link rel="mask-icon" href="{% static "icon/safari-pinned-tab.svg" %}" color="#2d89ef"/>
<link rel="shortcut icon" href="{% static "icon/favicon.ico" %}"/>
<meta name="apple-mobile-web-app-title" content="TrainK"/>
<meta name="application-name" content="TrainK"/>
<meta name="msapplication-TileColor" content="#2d89ef"/>
<meta name="msapplication-config" content="{% static "icon/browserconfig.xml" %}"/>
<meta name="theme-color" content="#2d89ef"/>
