{% extends "base.html" %}
{% load static %}


{% block css %}
.block-lg{
margin-left:auto;
margin-right:auto;
max-width: 400px;
background-color: white;
padding: 40px;
opacity: .95;
border-radius: 20px;
}
{% endblock %}


{% block content %}
<div class="py-5" style="background-image: url(&quot;{% static "img/hero.jpg" %}&quot;); background-position: center top;">
  <div class="block-lg">
    <ul class="nav nav-tabs" id="QueryTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link disabled" id="Path-tab" data-toggle="tab" href="#Path" role="tab" aria-controls="Path" aria-selected="true">行程</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="Train-tab" data-toggle="tab" href="#Train" role="tab" aria-controls="Train" aria-selected="false">车次</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" id="Station-tab" data-toggle="tab" href="#Station" role="tab" aria-controls="Station" aria-selected="false">站点</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" id="Railway-tab" data-toggle="tab" href="#Railway" role="tab" aria-controls="Railway" aria-selected="false">线路</a>
      </li>
    </ul>
    <br/>

    <div class="tab-content" id="QueryTabContent">
      <div class="tab-pane" id="Path" role="tabpanel" aria-labelledby="Path-tab">
        <form action="/query/path" method="GET">
          <div class="form-group">
            <div class="input-group">
              {{ pathForm.origin.errors }}
              {{ pathForm.destination.errors }}
              {{ pathForm.origin }}
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button"><em class="fa d-inline fa-lg fa-arrows-h"></em></button>
              </span>
              {{ pathForm.destination }}
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">搜索</button>
        </form>
      </div>
      <div class="tab-pane show active" id="Train" role="tabpanel" aria-labelledby="Train-tab">
        <form action="/query/train" method="GET">
          <div class="form-group">
            {{ trainForm }}
          </div>
          <button type="submit" class="btn btn-primary btn-block">搜索</button>
        </form>
      </div>
      <div class="tab-pane" id="Station" role="tabpanel" aria-labelledby="Station-tab">
        <form action="/query/station" method="GET">
          <div class="form-group">
            {{ stationForm }}
          </div>
          <button type="submit" class="btn btn-primary btn-block">搜索</button>
        </form>
      </div>
      <div class="tab-pane" id="Railway" role="tabpanel" aria-labelledby="Railway-tab">
        <form action="/query/railway" method="GET">
          <div class="form-group">
            {{ railwayForm }}
          </div>
          <button type="submit" class="btn btn-primary btn-block">搜索</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}