{% extends "base.html" %}
{% load static %}

{% block css %}
.block{
margin-left:auto;
margin-right:auto;
max-width: 600px;
}
{% endblock %}


{% block content %}
<div class="py-5 text-white text-center" style="background-image: url(&quot;{% static "img/train.jpg" %}&quot;);  background-position: center; background-size:cover;">
  <h1 class="display-2">{{ name }}</h1>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-md-7">
    </div>
    <div class="col-md-5">
      <div id="SOHUCS" sid="station:{{telecode}}+{{id}}" ></div> 
      <script> 
      (function(){ 
        var appid = 'cytmtq0Qf'; 
        var conf = 'prod_625608e62a2bdd5da5c0ec0374b8dbd5'; 
        var width = window.innerWidth || document.documentElement.clientWidth; 
        if (width < 960) { 
          window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
        </div>
      </div>
    </div>
    {% endblock content %}