<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-train"></i><b> TrainK<br></b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link" href="#"><em class="fa d-inline fa-lg fa-ticket"></em> 购票</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><em class="fa d-inline fa-lg fa-info"></em> 查询</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><em class="fa d-inline fa-lg fa-train"></em> 通勤</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><em class="fa d-inline fa-lg fa-map"></em> 地图</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><em class="fa d-inline fa-lg fa-institution"></em> 社区</a></li>
        </ul>
        <button class="btn navbar-btn btn-primary" id="user-btn"><em class="fa d-inline fa-lg fa-user-circle-o"></em> 登录</button></div>
    </div>
  </nav>
  <nav aria-label="breadcrumb" role="navigation">
    <ul class="breadcrumb" style="margin-bottom: 0px; margin-top: 0px;">
      <li class="breadcrumb-item"><a href="#">车客</a></li>
      <li class="breadcrumb-item"><a href="#">查询</a></li>
      <li class="breadcrumb-item"><a href="#">车次</a></li>
      <li class="breadcrumb-item active">G1</li>
    </ul>
  </nav>
  <div class="py-5 text-white text-center" style="background-image: url(&quot;img/train.jpg&quot;);  background-position: center; background-size:cover; -webkit-text-stroke: 1px black; text-stroke: 1px black;">
    <h1 class="display-2">G1</h1>
    <div class="row">
      <div class="col-5 text-right">
        <h1>上海</h1>
        <h2>18:40</h2>
      </div>
      <div class="col-2">
        <h1><i class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i></h1>
      </div>
      <div class="col-5 text-left">
        <h1>上海</h1>
        <h2>18:40</h2>
      </div>
    </div>
  </div>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row py-1">
            <div class="col-3 text-center"><h1>合肥南</h1></div>
            <div class="col-3">
              <h6>10:30</h6>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              <h6>10:30</h6>
            </div>
          </div>
          <div class="row py-1">
            <div class="col-3 section-center"><h1>北京西</h1></div>
            <div class="col-3">
              <h6>10:30</h6>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              <h6>10:30</h6>
            </div>
          </div>
          <div class="row py-1">
            <div class="col-3"><h1>合肥南</h1></div>
            <div class="col-3">
              <h6>10:30</h6>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              <h6>10:30</h6>
            </div>
          </div>
          <div class="row py-1">
            <div class="col-3"><h1>合肥南</h1></div>
            <div class="col-3">
              <h6>10:30</h6>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              <h6>10:30</h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">2</div>
      </div>
    </div>
  </div>

  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary">关于我们</h2>
          <p class="text-white">一群傻逼hhh</p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary">站点链接</h2>
          <ul class="list-unstyled">
            <a href="#" class="text-white">Home</a>
            <br>
            <a href="#" class="text-white">About us</a>
            <br>
            <a href="#" class="text-white">Our services</a>
            <br>
            <a href="#" class="text-white">Stories</a>
          </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4">联系我们</h2>
          <p>
            <a href="tel:+246 - 542 550 5462" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
          </p>
          <p>
            <a href="mailto:info@pingendo.com" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@pingendo.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Park Street, NY</a>
          </p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-light">Subscribe</h2>
          <form>
            <fieldset class="form-group text-white"> <label for="exampleInputEmail1">Get our newsletter</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> </fieldset>
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2017 Begin Studio - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>

</body>

</html>